<div class="page-width" data-section-id="{{ section.id }}" data-section-type="blog-slide">
  <div class="grid">
    <div class="grid__item large-up--four-fifths large-up--push-one-tenth">

  {% if section.settings.title != blank %}
    <div class="section-header text-center">
      <h2>{{ section.settings.title | escape }}</h2>
    </div>
  {% endif %}

  {%- assign blog = blogs[section.settings.blog] -%}
  {% unless blog.articles_count == 0 %}
    <div class="blogslide-wrapper">

      <div class="blogslide-slider" id="BlogSlide-{{ section.id }}" data-count="{{ blog.articles_count }}">

          {% for article in blog.articles %}

            {% if article.image %}

              <div class="blogslide-slide text-center">

                {% capture img_id %}ArticleImage-{{ article.image.id }}{% endcapture %}
                {% capture img_wrapper_id %}ArticleImageWrapper-{{ article.image.id }}{% endcapture %}
                {%- assign img_url = article.image | img_url: '345x345', crop: 'center' -%}

                <div id="{{ img_wrapper_id }}" class="article__grid-image-wrapper js">
                  <a href="{{ article.url }}" class="article__grid-image-container" style="padding-top:100%;">
                    <img id="{{ img_id }}"
                         class="article__grid-image lazyload"
                         src="{{ article.image | img_url: '345x345', crop: 'center' }}"
                         data-src="{{ img_url }}"
                         data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                         data-sizes="auto"
                         alt="{{ article.image.alt | escape }}">
                    <div class="article__grid-image-hover">
                      <div class="btn btn--secondary btn--small">
                        {{ 'blogs.article.read_more' | t }}
                      </div>
                    </div>
                  </a>
                </div>
                <noscript>
                  <a href="{{ article.url }}" class="article__grid-image-wrapper">
                    {{ article | img_url: '345x345', scale: 2, crop: 'center' | img_tag: article.title, 'article__grid-image' }}
                  </a>
                </noscript>

                <div class="grid">

                  {% if article.tags.size > 0 %}
                    <div class="grid__item article__tags">
                      {% for tag in article.tags %}
                        {% unless tag.handle == 'favorites' %}
                          <a href="{{ blog.url }}/tagged/{{ tag | handle }}" class="article__grid-tag">{{ tag }}</a>{% unless forloop.last %}<br>{% endunless %}
                        {% endunless %}
                      {% endfor %}
                    </div>
                  {% endif %}

                  <div class="grid__item article__grid-meta{% if article.image %} article__grid-meta--has-image{% endif %}">
                    <p class="article__title">
                      <a href="{{ article.url }}">{{ article.title }}</a>
                    </p>
                  </div>

                </div>

              </div>

            {% endif %}

          {% endfor %}

      </div>

    </div>

  {% endunless %}

    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Blog slider",
    "class": "index-section featured-blog-slideshow",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Blog Slider"
      },
      {
        "id": "blog",
        "type": "blog",
        "label": "Blog"
      },
      {
        "type": "checkbox",
        "id": "show_view_all",
        "label": "Show 'View all' button",
        "default": false
      }
    ],
    "presets": [
      {
        "name": "Blog slider",
        "category": "Blog",
        "settings": {
          "blog": "Blog"
        }
      }
    ]
  }
{% endschema %}
