<div class="grid grid--double-gutters">
  <div class="grid__item medium-up--one-half">
    <img src="{{ article | img_url: '660x' }}">
  </div>
  <div class="grid__item medium-up--one-half">
    <div class="section-header text-center medium-up--text-left">

      {% if article.tags.size > 0 %}
        <div class="article__tags article__tags--list">
          {{ 'blogs.article.posted_in' | t }}
          {% for tag in article.tags %}
            <a href="{{ blog.url }}/tagged/{{ tag | handle }}">{{ tag }}</a>{% unless forloop.last %}, {% endunless %}
          {% endfor %}
        </div>
      {% endif %}

      <h1 class="profile__title">{{ article.title }}</h1>
      {% if article.excerpt.size > 0 %}
        <div class="rte profile__subtitle article__grid-excerpt">
          {{ article.excerpt }}
        </div>
      {% endif %}

      <div class="social-links">
        {% if article.metafields.c_f.website_link %}
          <a class="team-icons__link" href="{{ article.metafields.c_f.website_link | escape }}" target="_blank" title="{{ article.title }}'s Website">
            {% include 'icon-link' %}
          </a>
        {% endif %}
        {% if settings.article.metafields.c_f.facebook_link %}
          <a class="team-icons__link" href="{{ article.metafields.c_f.facebook_link | escape }}" target="_blank" title="{{ article.title }}'s Facebook">
            {% include 'icon-facebook' %}
          </a>
        {% endif %}
        {% if article.metafields.c_f.instagram_link %}
          <a class="team-icons__link" href="{{ article.metafields.c_f.instagram_link | escape }}" target="_blank" title="{{ article.title }}'s Instagram">
            {% include 'icon-instagram' %}
          </a>
        {% endif %}
      </div>

    </div>

    <div class="rte" itemprop="articleBody">

      {{ article.content }}

      {% assign fullname = article.title %}
      {% for collection in collections %}

        {% if collection.title == fullname %}
        {%- assign collection = collections['fullname'] -%}

          <div class="class-button">
            <a class="btn" href="{{ collection.url }}">View Classes</a>
          </div>
        {% endif %}

      {% endfor %}

    </div>

  </div>

  {% if section.settings.show_similar_posts %}
    {%- assign blog = blogs[section.settings.blog] -%}
    {%- assign profile = article.title -%}
    {% assign show_header = false %}

    {% for addin in blog.articles %}
      {% if addin.content contains profile %}
        {% assign show_header = true %}
      {% endif %}
    {% endfor %}

    {% if show_header %}

      <div class="grid__item one-whole related-posts text-center">
        <h2>Featured In</h2>

        <div id="related-posts" class="align--center grid">
          {% for addin in blog.articles %}
            {% if addin.content contains profile %}

              {% assign articlesFound = 0 %}
              <div class="related__item grid__item one-half medium-up--one-third">
                {% comment %}{% if addin.image %}<a href="{{ addin.url }}"><img src="{{ addin | img_url: 'large', crop: 'center' }}"></a>{% endif %}{% endcomment %}
                {% if addin.image %}
                  {% capture img_id %}ArticleImage-{{ addin.image.id }}{% endcapture %}
                  {% capture img_wrapper_id %}ArticleImageWrapper-{{ addin.image.id }}{% endcapture %}
                  {%- assign img_url = addin.image | img_url: '345x345', crop: 'center' -%}

                  <div id="{{ img_wrapper_id }}" class="article__grid-image-wrapper js">
                    <a href="{{ addin.url }}" class="article__grid-image-container" style="padding-top:100%;">
                      <img id="{{ img_id }}"
                           class="article__grid-image lazyload"
                           src="{{ addin.image | img_url: '345x345', crop: 'center' }}"
                           data-src="{{ img_url }}"
                           data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                           data-sizes="auto"
                           alt="{{ addin.image.alt | escape }}">
                      <div class="article__grid-image-hover">
                        <div class="btn btn--secondary btn--small">
                          {{ 'blogs.article.read_more' | t }}
                        </div>
                      </div>
                    </a>
                  </div>
                  <noscript>
                    <a href="{{ article.url }}" class="article__grid-image-wrapper">
                      {{ addin | img_url: '345x345', scale: 2, crop: 'center' | img_tag: addin.title, 'article__grid-image' }}
                    </a>
                  </noscript>
                {% endif %}

                <div class="grid grid--no-gutters article__grid-meta">
                  <div class="grid__item text-center">

                    {% if addin.tags.size > 0 %}
                      <div class="article__tags article__tags--list">
                        {{ 'blogs.article.posted_in' | t }}
                        {% for tag in addin.tags %}
                          {% unless tag.handle == 'favorites' %}
                            <a href="{{ blog.url }}/tagged/{{ tag | handle }}">{{ tag }}</a>{% comment %}{% unless forloop.last %}, {% endunless %}{% endcomment %}
                            {% endunless %}
                        {% endfor %}
                      </div>
                    {% endif %}

                    <div class="profile__title">
                      <a href="{{ addin.url }}">{{ addin.title }}</a>
                    </div>
                  </div>
                </div>

              </div>
              {% assign articlesFound = articlesFound |plus: 1 %}
            {% endif %}
          {% endfor %}
        </div>

{% comment %}      {% if articlesFound == 0 %}
        {% assign show_header = false %}
      {% endif %}{% endcomment %}

      </div>
    {% endif %}

  {% endif %}

</div>

{% schema %}
  {
    "name": "Posts",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_similar_posts",
        "label": "Show featured posts",
        "default": true
      },
      {
        "id": "blog",
        "type": "blog",
        "label": "Blog"
      }
    ]
  }
{% endschema %}
